<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>My_meetic</title>
		<link rel="shortcut icon" type="image/x-icon" href="../images/icon.png" />
		<link rel="stylesheet" media="screen" href="../dist/css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" media="screen" href="../style.css" type="text/css"/>
		<meta name="description" content="My_meetic "/>
	</head>
	<body id="loged">
		
		<header>
			<h1><a href="../index.php" title="Page d'acceuil"><img src="../images/logo.jpg" alt="My_meetic"/></a></h1>	
		</header>
		<div id="email_page">
			<h2>Confirmer votre adresse e-mail </h2>
			<p>Pour activer votre compte veuiller entrer le token reçu par mail</p> <span id="attention">(attention il se peut que le emai de confirmation se trouve dans vos spams).</span>

			<form method="post">
				<label>Login ou mot de pass :<input type="text"   name="login" placeholder="Login / mot de pass" ></label>
				<label>Token :<input type="text"   name="token" placeholder="Token" ></label>
				<input type="submit" value="activer" id="activer" name="submit">
			</form>

		</div>



	</body>
</html>