<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>
		<?php foreach ($membres_profil_requete_sql as $Nom) { 
			echo "Chat avec " .  ucfirst($Nom['username']); 
		}?>
	</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/icon.png" />
	<link rel="stylesheet" media="screen" href="dist/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" media="screen" href="../style.css" type="text/css"/>
	<meta name="description" content="My_meetic"/>
</head>
<body id="loged">

	<header id="header">
		<h1><a href="welcome.php" title="Page d'acceuil"><img src="../images/logo.jpg" alt="My_meetic"/></a></h1>
		<div id="user">
			<?php foreach ($profil_sql as $info) { ?>
			<a class="" href="../php/profil.php" title="mon profil"><p class="user"> <?php echo ucfirst($info['username']); ?> </p></a>
			<?php   } ?>
			<a class="user" href="../php/allmsg.php" title="Messages">Messages</a>
			<a class="user" href="../php/deconnexion.php" title="deconnection">Déconnexion</a>
		</div>
	</header>

	<div id='membres'>
		<form method="post" id="memebre_profil">
	  <?php foreach ($info_sql as $name) { ?> 
	<table id="msg">
	  	<tr> 
	  		<?php 
	  		if($name['username'] == $_SESSION['login']) { 
	  			echo "";
	  		}
	  		else { ?>
	  			<tr><?php echo $name['username'];?></tr>
	  		<?php } ?>

	  	<tr> <?php echo $name['message']; ?> </tr>
	   	<tr> <?php echo $name['time']; ?> </tr>

	</table>
		<?php } ?>

			<textarea name="message" COLS="80"></textarea>
			<input type="submit" value="Envoyer" name="send">

			
			


		</form>
	</div>






</body>
</html>






